html,
body {
    font-family:fantasy;
}

/* .button {
    background-color: #ffffff;
    border: none;
    color: rgb(3, 95, 148);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
} */

/* button:hover{
  cursor: pointer;
  opacity: 0.75;
} */

#modal-container {
  /*display: none;*/
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #ffffff;
  padding: 15px;
  width: 100%;
  max-width: 600px;
  text-align: left;
  border-radius: 10px;
}

#modal-container.is-visible {
  display: block;
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: auto;
  text-align: center;
}

.modal-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}